PORT=3000
NODE_ENV=production
MONGODB_URI=
MONGODB_USER=
MONGODB_PASS=
DOMAIN=https://fabrik.sozzio.com
TEST_LINK=https://blank.org
LANDING_BASE=https://www.sozzio.com
CAMPAIGN_BASE=https://sozz.io
SESSION_SECRET=
AUTODRAW_SECRET=
FB_APP_ID=
FB_APP_SECRET=
FB_BUSINESS_ID=
FB_ACCESS_TOKEN=
FB_CALLBACK_URL=https://fabrik.sozzio.com/connect/facebook/callback
FB_CAMPAIGN_URL=https://sozz.io/campaign/facebook/callback
IG_APP_ID=
IG_APP_SECRET=
IG_CALLBACK_URL=https://fabrik.sozzio.com/connect/instagram/callback
IG_CAMPAIGN_URL=https://sozz.io/campaign/instagram/callback
TW_APP_ID=
TW_APP_SECRET=
TW_CALLBACK_URL=https://fabrik.sozzio.com/connect/twitter/callback
TW_CAMPAIGN_URL=https://sozz.io/campaign/twitter/callback
YT_APP_ID=
YT_APP_KEY=
YT_APP_SECRET=
YT_CALLBACK_URL=https://fabrik.sozzio.com/connect/youtube/callback
YT_CAMPAIGN_URL=https://sozz.io/campaign/youtube/callback
EMAIL_NOREPLY='Sozzio <no-reply@sozzio.com>'
POSTAL_DOMAIN=postal.kemalersin.com
POSTAL_API_KEY=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_FOLDER=sozzio
